#home-skeletons {
    display: none
}

#home-skeletons *,
#home-skeletons *:after,
#home-skeletons *:before {
    box-sizing: border-box
}

body {
    margin: 0
}

body.loading-home #home-skeletons {
    display: block;
    line-height: 1.43;
    font-size: .875rem
}

.center {
    width: calc(100% - 60px);
    max-width: 1030px;
    margin: 0 auto
}

.skeleton {
    display: block;
    overflow: hidden;
    position: relative;
    background-color: rgba(0, 0, 0, .11)
}

.skeleton-text {
    height: auto;
    transform: scale(1);
    margin-top: 0;
    margin-bottom: 0;
    transform-origin: 0 60%
}

.skeleton-text::before {
    content: '\00a0'
}

.skeleton::after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    animation: skeleton-keyframes-wave 1.6s linear .5s infinite;
    transform: translateX(-100%);
    background: linear-gradient( 90deg, transparent, rgba(0, 0, 0, 0.04), transparent)
}

@keyframes skeleton-keyframes-wave {
    0% {
        transform: translateX(-100%)
    }
    60% {
        transform: translateX(100%)
    }
    100% {
        transform: translateX(100%)
    }
}

.home-top-wrapper {
    background-color: #f8f8f9
}

.home-top-wrapper .skeleton {
    background-color: #d9d9d9
}

.skeleton.bg-blue {
    background-color: #1d59f9
}

.home-header {
    padding-top: 18px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1030px;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 40px)
}

.home-header__logo {
    height: auto
}

.home-header__logo-wrapper {
    width: 25%
}

.home-header__center {
    flex: 1;
    display: flex;
    justify-content: center
}

.home-header__right {
    display: flex;
    align-items: center
}

.home-header__links {
    display: flex;
    margin-right: 37px
}

.home-header__links:last-child {
    width: 100%;
    max-width: 307px;
    display: grid;
    grid-gap: 32px;
    grid-template-columns: 98fr 28fr 28fr 57fr
}

.home-header__link {
    width: 100%;
    height: 13px
}

.home-header__register-link {
    width: 86px;
    margin-left: 23px;
    margin-right: 23px;
    height: 13px
}

.home-header__button {
    width: 164px;
    height: 40px;
    border-radius: 28px
}

.home-top,
.basic-concepts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.home-top {
    padding-top: 75px;
    padding-bottom: 133px
}

.home-top__title {
    height: 54px;
    transform: scale(1);
    margin-bottom: 10px;
    width: 96%;
    max-width: 702px
}

.home-top__title:nth-child(2) {
    width: 86%;
    max-width: 664px;
    margin-bottom: 32px
}

.home-top__title:nth-child(3) {
    width: 66%;
    max-width: 400px;
    display: none
}

.home-top__text-wrapper {
    margin-top: 32px;
    width: 334px
}

.home-top__text {
    margin-bottom: 10px;
    max-width: 268px;
    width: 55%
}

.home-top__text:nth-child(5) {
    width: 80%;
    max-width: 382px;
    margin-bottom: 0
}

.home-top__text:nth-child(6) {
    width: 60%;
    max-width: 252px;
    display: none
}

.home-top__button {
    width: 240px;
    height: 56px;
    border-radius: 28px;
    margin-top: 38px
}

.home-top__image {
    width: calc(100% - 40px);
    max-width: 953px;
    height: 74vw;
    max-height: 504px;
    margin-top: 68px
}

.basic-concepts {
    padding-top: 0;
    padding-bottom: 116px
}

.basic-concepts__title {
    height: 54px;
    transform: scale(1);
    margin-bottom: 10px;
    width: 96%;
    max-width: 798px
}

.basic-concepts__text {
    margin-bottom: 10px;
    max-width: 608px;
    width: 55%
}

.basic-concepts__text:nth-child(3) {
    width: 80%;
    max-width: 386px;
    margin-bottom: 0
}

.basic-concepts__info-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px
}

.basic-concepts__info-image {
    width: 100%;
    max-width: 399px;
    height: 40vw;
    max-height: 504px
}

.basic-concepts__info-list {
    width: 100%;
    max-width: 505px
}

.basic-concepts__info-item {
    width: 100%;
    padding: 35px 0;
    border-bottom: 1px solid #cdd1e0
}

.basic-concepts__info-item.open {
    padding-bottom: 48px;
    padding-top: 0
}

.basic-concepts__info-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.basic-concepts__info-item-arrow {
    width: 17px;
    height: 17px;
    background: #1d59f9
}

.basic-concepts__info-item.open .basic-concepts__info-dropdown {
    margin-bottom: 40px
}

.basic-concepts__info-item-title {
    width: 70%;
    max-width: 294px;
    height: 19px
}

.basic-concepts__info-item-text {
    width: 100%;
    height: 11px
}

.basic-concepts__info-item-text:not(:last-child) {
    margin-bottom: 17px
}

.home-features {
    background-color: #f8f8f9
}

.home-features__center {
    max-width: 1060px
}

.home-features__content {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px
}

.home-features__item {
    display: flex;
    align-items: center;
    width: 39.0654%;
    height: 80px
}

.home-features__item:last-child {
    width: 282px;
    flex-shrink: 0
}

.home-features__item-icon-wrapper {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center
}

.home-features__item-icon {
    width: 56px;
    height: 56px;
    border-radius: 8px
}

.home-features__item-text-wrapper {
    width: 125px;
    margin-left: 12px
}

.home-features__item-text {
    margin-bottom: 2px
}

.home-features__item-text:last-child {
    width: 80%;
    margin-bottom: 0
}

.home-benefits {
    height: 250px
}

@media(max-width:959px) {
    .center {
        width: calc(100% - 40px)
    }
    .home-header__logo {
        width: 84px;
        height: auto
    }
    .home-header {
        padding: 0;
        height: 50px
    }
    .home-top {
        padding-bottom: 75px
    }
    .home-top__title {
        height: 30px
    }
    .home-header__right,
    .home-header__center {
        display: none
    }
    .home-top__title:nth-child(2) {
        margin-bottom: 10px
    }
    .home-top__title:nth-child(3) {
        display: block;
        margin-bottom: 32px
    }
    .home-top__text:nth-child(5) {
        margin-bottom: 7px
    }
    .home-top__text:nth-child(6) {
        display: block;
        margin-bottom: 0
    }
    .home-top__button {
        max-width: 360px;
        height: 48px;
        width: 100%
    }
    .home-top__image {
        width: 100%;
        height: 48vw;
        max-height: 465px;
        margin-top: 50px
    }
    .basic-concepts {
        padding-bottom: 64px
    }
    .basic-concepts__title {
        height: 30px
    }
    .basic-concepts__info-wrapper {
        flex-direction: column;
        margin-top: 20px
    }
    .basic-concepts__info-image {
        max-width: 280px;
        height: 110vw;
        max-height: 355px;
        margin: auto
    }
    .basic-concepts__info-list {
        margin-top: 60px;
        max-width: unset
    }
    .basic-concepts__info-item,
    .basic-concepts__info-item.open {
        padding: 26px 0
    }
    .basic-concepts__info-item .basic-concepts__info-item-text {
        display: none
    }
    .basic-concepts__info-item.open .basic-concepts__info-dropdown {
        margin-bottom: 0
    }
    .home-features__content {
        display: block;
        padding-bottom: 48px
    }
    .home-top__right {
        width: 100%;
        padding-top: 40px
    }
    .home-top__right-image {
        height: 246px
    }
    .home-top__text {
        margin-bottom: 7px
    }
    .home-top__text:nth-child(2) {
        margin-bottom: 0
    }
    .home-features__item {
        width: 100%;
        margin-bottom: 9px
    }
    .home-features__item:last-child {
        margin-bottom: 0
    }
}

@media(min-width:1920px) {
    .center {
        width: calc(100% - 60px);
        max-width: 1464px;
        margin: 0 auto
    }
    .home-header {
        max-width: 1920px;
        width: calc(100% - 60px);
        margin-left: auto;
        margin-right: auto
    }
    .home-header__logo {
        width: 126px;
        height: auto
    }
    .home-header__button {
        width: 190px;
        height: 47px
    }
    .home-top__title {
        height: 60px;
        margin-bottom: 15px;
        max-width: 1000px
    }
    .home-top__title:nth-child(2) {
        max-width: 750px;
        margin-bottom: 42px
    }
    .home-top__text {
        margin-bottom: 15px;
        max-width: 350px
    }
    .home-top__text:nth-child(5) {
        max-width: 582px
    }
    .home-top__image {
        max-width: 1200px;
        height: 35vw;
        max-height: 664px;
        margin-top: 47px
    }
    .basic-concepts {
        padding-bottom: 121px
    }
    .basic-concepts__title {
        height: 60px;
        margin-bottom: 15px;
        width: 96%;
        max-width: 1000px
    }
    .basic-concepts__text {
        margin-bottom: 15px;
        max-width: 758px
    }
    .basic-concepts__text:nth-child(3) {
        max-width: 586px
    }
    .basic-concepts__info-image {
        max-width: 576px;
        max-height: 730px
    }
    .basic-concepts__info-list {
        max-width: 722px
    }
    .basic-concepts__info-item-title {
        max-width: 394px;
        height: 23px
    }
    .basic-concepts__info-item-text {
        height: 14px
    }
}